<!DOCTYPE html>
<html lang="en-US" ng-app="app">
<head>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-73113587-6"></script>
	<script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-73113587-6');
	</script>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Gift Suggestions</title>
    <meta name="Description" content="Looking for a present? Ran out of ideas? On this website you can get gift ideas for any given price, age and gender." />
    <meta property="og:title" content="Gift Suggestions" />
    <meta property="og:description" content="Looking for a present? Ran out of ideas? On this website you can get gift ideas for any given price, age and gender." />
    <meta property="og:url" content="http://giftsuggestions.org/" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:image" content="http://giftsuggestions.org/gift-ideas.png" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Gift Suggestions" />
    <link rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="static/main.min.css?v=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,600,700" rel="stylesheet">
</head>
<body ng-controller="mainCtrl">
	<header class="header">
		<div class="container">
			<div class="logo-wrapper">
				<div id="giftLogo" class="gift-logo" ng-dblclick="showPoints = !showPoints">
                    <!--<svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 768 768">-->
                        <!--<title></title>-->
                        <!--<g id="icomoon-ignore">-->
                        <!--</g>-->
                        <!--<path fill="#fff" d="M704 192h-76.8c9.6-16 12.8-32 12.8-48 0-60.8-51.2-112-112-112-73.6 0-118.4 51.2-144 99.2-25.6-48-70.4-99.2-144-99.2-60.8 0-112 51.2-112 112 0 16 3.2 32 12.8 48h-76.8c-19.2 0-32 12.8-32 32v160c0 19.2 12.8 32 32 32h32v288c0 19.2 12.8 32 32 32h512c19.2 0 32-12.8 32-32v-288h32c19.2 0 32-12.8 32-32v-160c0-19.2-12.8-32-32-32zM528 96c25.6 0 48 22.4 48 48s-22.4 48-48 48h-102.4c16-38.4 48-96 102.4-96zM192 144c0-25.6 22.4-48 48-48 54.4 0 86.4 57.6 102.4 96h-102.4c-25.6 0-48-22.4-48-48zM96 256h256v96h-256v-96zM160 416h192v256h-192v-256zM608 672h-192v-256h192v256zM672 352h-256v-96h256v96z"></path>-->
                    <!--</svg>-->
                    <img src="favicon-96x96.png" alt="">
                </div>
                <div class="logo">Gift<span>Suggestions</span></div>
            </div>
        </div>
    </header>
<section class="p-gifts">
    <div class="left">
        <div class="checkbox-section ng-cloak clearfix">
            <div class="checkbox-item first"
                 ng-click="selectCategory('all'); $event.stopPropagation(); $event.preventDefault();">
                <input type="checkbox" ng-model="data.allCategoriesSelected" id="catAll"/>
                <label for="catAll"><span>All Categories</span></label>
            </div>
            <div class="checkbox-item ng-cloak" ng-repeat="category in data.categories | limitTo: data.categoriesLimit">
                <input type="checkbox" ng-model="category.show" id="cat{{$index}}"/>
                <label for="cat{{$index}}"><span
                        ng-click="selectCategory(category.name); $event.stopPropagation(); $event.preventDefault();">{{ category.name }}</span></label>
            </div>
            <div class="checkbox-item ng-cloak">
                <a class="show-more" ng-if="data.categoriesLimit < 200" href="" ng-click="toggleCategoriesLimit()">Show
                    more &gt;</a>
                <a class="show-more" ng-if="data.categoriesLimit == 200" href="" ng-click="toggleCategoriesLimit()">&lt;
                    Show less</a>
            </div>
        </div>
    </div>
    <div class="right">
        <div class="category-section ng-cloak">
            <div class="category-wrapper">
                <p class="category">
                    <span class="price-label">Price:</span>
                    <rzslider class="big-slider"
                              rz-slider-model="priceSlider.val"
                              rz-slider-options="priceSlider.options">
                    </rzslider>
                </p>
                <div class="category-age-gender">
                    <p class="category">
                        <span class="price-label">Age:</span>
                        <rzslider class="mid-slider"
                                  rz-slider-model="ageSlider.val"
                                  rz-slider-options="ageSlider.options">
                        </rzslider>
                    </p>
                    <p class="category">
                        <span class="price-label">Gender:</span>
                        <rzslider class="small-slider"
                                  rz-slider-model="genderSlider.val"
                                  rz-slider-options="genderSlider.options">
                        </rzslider>
                    </p>
                </div>
            </div>
        </div>
        <!--<div class="suggestions-section" ng-cloak>-->
        <!--<span class="suggestion-text">Found <span class="suggestions-number ng-cloak">{{ data.numFoundGifts }}</span> suggestions:</span>-->
            <!--<a href="https://goo.gl/forms/xJKh5iUI8MXV9OK73" target="_blank" class="link"><span-->
                    <!--class="fa fa-plus"></span>Add suggestion</a>-->
        <!--</div>-->
        <div class="products-section grid" ng-cloak>
            <div class="single-product-simple" ng-repeat="gift in data.gifts | filterCategories: data.categories | orderBy: '-points'  | limitTo: data.limit">
                <div class="single-product-simple-wrap">
                    <a class="single-product-simple-wrap-white" href="{{ getLink(gift) }}" target="_blank" >
                        <span class="img" ng-style="{'background-image':'url(' + gift.img + ')'}"></span>
                        <div class="info">
                            <div class="product-name">{{ gift.name }}</div>
                            <p class="price">${{gift.min}} - {{gift.max}} (avg. ${{gift.price}})</p>
                            <p class="tags"><span class="fa fa-tags mr"></span><span ng-repeat="tag in gift.tags"><span class="tag" ng-click="selectCategory(tag); $event.stopPropagation(); $event.preventDefault();">{{ tag }}</span>{{$last ? '' : ', '}}</span></p>
                            <ul ng-if="showPoints">
                                <li>
                                    age: {{gift.agePoints}}
                                </li>
                                <li>
                                    gender: {{gift.genderPoints}}
                                </li>
                                <li>
                                    grade: {{gift.grade || 3}}
                                </li>
                                <li>
                                    price: {{gift.pricePoints || 3}}
                                </li>
                            </ul>
                            <!--<a class="amazon-link" href="{{ getLink(gift) }}" target="_blank"><span class="amazon-link-search">Search on </span>Amazon.com &gt;</a>-->
                        </div>
                    </a>
                </div>
            </div>
            <!--<figure class="single-product ng-cloak effect-zoe" ng-if="!data.showFavs"-->
                    <!--ng-repeat="gift in data.gifts | filterCategories: data.categories | filterAge: ageSlider | filterGender: genderSlider | orderBy: '-points'  | limitTo: data.limit">-->
                <!--&lt;!&ndash;price {{gift.price}} | grade {{gift.grade}} | pp {{gift.pricePoints}} | points {{gift.points}}&ndash;&gt;-->
                <!--<a class="image-wrapper" href="{{ getLink(gift) }}" target="_blank">-->
                    <!--<img ng-src="{{gift.img}}" alt="">-->
                <!--</a>-->
                <!--<div class="product-wrapper">-->
                    <!--<div class="product-name-wrapper">-->
                        <!--<p class="product-name"><a href="{{ getLink(gift) }}" target="_blank">{{ gift.name }}</a></p>-->
                        <!--<p class="price"><a href="{{ getLink(gift) }}" target="_blank">${{gift.min}} - ${{gift.max}} (avg. ${{gift.price}}) </a>-->
                        <!--</p>-->
                        <!--<p class="tags"><span class="fa fa-tags mr"></span><span ng-repeat="tag in gift.tags"><a-->
                                <!--href="#" class="tag"-->
                                <!--ng-click="selectCategory(tag)">{{ tag }}</a>{{$last ? '' : ', '}}</span></p>-->

                    <!--</div>-->
                    <!--<figcaption class="data-wrapper">-->
                        <!--<a href ng-class="{'fa-heart-o': data.favs.indexOf(gift.name) == -1}"-->
                           <!--class="like fa fa-heart fa-2x" ng-click="toggleFav(gift);"></a>-->
                        <!--<a class="amazon-link" href="{{ getLink(gift) }}" target="_blank"><span-->
                                <!--class="amazon-link-search">Search on </span>Amazon.com &gt;</a>-->
                    <!--</figcaption>-->
                <!--</div>-->
                <!--<div class="figure-overlay"></div>-->
            <!--</figure>-->
            <!--<figure class="single-product ng-cloak effect-zoe"-->
                    <!--ng-repeat="gift in data.gifts | filterFavs: data.favs as favFilter" ng-if="data.showFavs">-->
                <!--&lt;!&ndash;price {{gift.price}} | grade {{gift.grade}} | pp {{gift.pricePoints}} | points {{gift.points}}&ndash;&gt;-->
                <!--<a class="image-wrapper" href="{{ getLink(gift) }}" target="_blank">-->
                    <!--<img ng-src="{{gift.img}}" alt="">-->
                <!--</a>-->
                <!--<div class="product-wrapper">-->
                    <!--<div class="product-name-wrapper">-->
                        <!--<p class="product-name"><a href="{{ getLink(gift) }}" target="_blank">{{ gift.name }}</a></p>-->
                        <!--<p class="price"><a href="{{ getLink(gift) }}" target="_blank">${{gift.min}} - ${{gift.max}} (avg. ${{gift.price}}) </a>-->
                        <!--</p>-->
                        <!--<p class="tags"><span class="fa fa-tags mr"></span><span ng-repeat="tag in gift.tags"><a-->
                                <!--href="#" class="tag"-->
                                <!--ng-click="selectCategory(tag)">{{ tag }}</a>{{$last ? '' : ', '}}</span></p>-->

                    <!--</div>-->
                    <!--<figcaption class="data-wrapper">-->
                        <!--<a href ng-class="{'fa-heart-o': data.favs.indexOf(gift.name) == -1}"-->
                           <!--class="like fa fa-heart fa-2x" ng-click="toggleFav(gift);"></a>-->
                        <!--<a class="amazon-link" href="{{ getLink(gift) }}" target="_blank">Search on Amazon.com &gt;</a>-->
                    <!--</figcaption>-->
                <!--</div>-->
                <!--<div class="figure-overlay"></div>-->
            <!--</figure>-->
        </div>
    </div>
</section>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
	<script src="static/bundle.min.js"></script>
</body>
</html>
